body{
    margin: 0;
    padding: 0;
    background: url("High_resolution_wallpaper_background_ID_77701933897.jpg");
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
}

.loginbox{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 5px;
}

.loginbox input[type="email"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px;
}

.loginbox button
{
    border: none;
    outline: none;
    height: 40px;
    background: rgb(207, 19, 50);
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    width: 260px;
    margin-bottom: 20px;
}

.loginbox button:hover
{
    cursor: pointer;
    background: rgb(23, 28, 110);
}

.loginbox a{
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}